.Text{
    color: white;
    width: 32%;
    height: 40vh;
    position: absolute;
    left: 13%;
    top: 30%;
}
.Text .title{
    margin-bottom: 6%;
    font-size: 28px;
}
.Text .textBody{
    font-size: 18px;
    font-weight: lighter;
}
